body{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;;
}
.navbar{
    position: fixed;
    height: 80px;
    overflow: none;
    top: 0;
    display: flex;
    align-items: center;
    background: rgb(240, 239, 239);
    width: 100%;

}
.logo{
    background: url(logo180.png) no-repeat 50% 50%;
    background-size: contain;
    width: 180px;
    height: 80px;
    float: left;
    margin-left: 20px;
}
.menu{
    position: absolute;
    right:10%;
    font-style: bold;
    font-weight: 1000;
    font-size: 120%;
}
.menu a{
    color: #333;
    text-decoration: none;
    font-weight: 800;
    margin-left: 20px;
    transition: color .03s; 
    text-transform: uppercase;
    color: #575856;
    align-content: center;

}
.menu a:hover{
    color: #6ab04c;
}
.btn{
    display: block;
    position: absolute;
    right: 10%;
}
.btn span{
    display: none;
     margin: 6px;
     width: 40px;
     height: 3px;
     background-color:#333;
}

.header{
    width: 100%;
    height: calc(100vh - 80px);
    background:url('bg.png') no-repeat 50% 50%;
    background-size: cover;
    margin-top: 80px;
    align-items : center;
    backdrop-filter: blur(5px);
    /*backface-visibility: visible;*/
}    
.card{
    
    filter: initial;
    overflow: hidden;
    margin-left: calc(50% - 250px);
    width: 500px;
    height: 500px;
    background-color:#333;
    opacity: 0.7;
    border-radius: 5px;
    box-shadow: 0 0 10px #333 outset;
}
.buffer{
    width:100%;
    height:25%;
}
.buffer-img{
    width:100%;
    height:8%;
}
.card-text{
    padding: 10px;
    text-align: center;
    color:#ffffff;
    
}
.name{

    font-size: 125%;
    font-style: bold;
    font-weight: 800;
}

.location{
    font-size: 110%;
}
.fa-github {
    font-size: 200%;
}
.fa-linkedin{
    text-decoration: none;
    font-size: 200%;
}
.card-text a{
    text-decoration: none;
    color: #ffffff;
}
.img{
    opacity:1;
    border-radius: 50%;
    /*display: inline-block;*/
    /*padding-top: 10%;*/
    margin-left: 25%;
    background:url('profile_picture.jpg') no-repeat 50% 50%;
    width: 50%;
    height: 50%;
    background-size: contain;
    box-shadow: inset 0 0 5em rgb(44, 44, 44);

}
.img:hover{
    transition: all .5s ease 0s;
    box-shadow: none;
}
.btn a:hover > span {
    background: #ffffff;
}

@media only screen and (max-width:600px){
    .navbar{
        overflow: visible;
        background: rgb(255, 255, 255);
    }
    .menu{
        width:100%;
        right:0;
        top:80px;
        background: rgb(255, 255, 255);
        overflow: hidden;
        max-height: 0;
    }

    .menu a{
        display: block;
        text-align: center;
        margin-top: 0px;
        padding: 20px;
   }
    .btn span{
        display: block;
        background-color: #333
    }

    .btn{
        display: block;
        text-align: center;
        margin: 0;
        padding: 10px;
        cursor:pointer;
  
    }
    .show{
        
        transition: all .6s;
        max-height: 500px;
      
     }

     .card{
        margin-left: 25%;
        width: 50%;
        height: 50%;
        overflow: hidden;
        /*margin-left: calc(50% - 90vw/2);*/
        
    }
    .name{

        font-size: 75%;
        font-weight: 500;
    }
    
    .location{
        font-size: 65%;
    }
    .fa-github {
        font-size: 150%;
    }
    .fa-linkedin{
        font-size: 150%;
    }
        
   }
