body{
    margin-top: 0%;
    font-family: 'Courier New', Courier, monospace;;
}
.navbar{
    position: fixed;
    height: 80px;
    width: 100%;
    overflow: none;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
}
.logo{
    background: url(logo180_inv.png) no-repeat 50% 50%;
    background-size: contain;
    width: 180px;
    height: 80px;
    float: left;
    margin-left: 8px;
}
.menu{
    position: absolute;
    right:5%;
    font-style: bold;
    font-size: 120%;
}
.menu_home{

}

.menu_expr{

}

.menu_acad{

}

.menu_contact{

}

.menu a{
    color: #333;
    text-decoration: none;
    font-weight: 800;
    margin-left: 20px;
    transition: color .03s; 
    text-transform: uppercase;
    color: #575856;
    align-content: center;

}
.menu a:hover{
    color: #6ab04c;
}
.btn{
    display: block;
    position: absolute;
    right: 10%;
}
.btn span{
    display: none;
     margin: 6px;
     width: 40px;
     height: 3px;
     background-color:#333;
}

.page-content{
    
    display: block;
    height: calc(90% - 80px);  
    background-color: #333;
    background-size: cover;
    overflow: hidden;
    padding-top : calc( 2% + 80px );
    padding-bottom: 2%; 
    padding-left: 2%;   
    padding-right: 2%;
 }

.card{
    filter: initial; 
    margin-left: calc(50% - 250px);
    width: 500px;
    height: 700px; 
    background-color:rgb(0, 0, 0);
    /* opacity: 0.7; */
    border-radius: 5px;
    box-shadow: 0 0 10px #333 outset;
}

.img{
    width: 500px;
    height: 500px; 
    border-radius: 5px;
    background: url(profile_picture.jpg) no-repeat 50% 50%;
    background-size: contain;
}

.card-text{ 

    text-align: center;
    color:#ffffff;
    
}
.name{
    text-transform: uppercase;
    font-size: 125%;
    font-style: bold;
    font-weight: 800;
}

.title{
    text-transform: uppercase;
    font-style: bold;
    font-size: 100%;
}
.space{
    display: block;
    width: 100px;
}
.expt-card{
    width: 300px;
    height: 250px;
    background-color:rgb(0, 0, 0);
    border-style:solid;
    border-color: #333;
    border-radius: 8px;
    border-width: 7px;

    display: inline-table;
    background-size: cover;
    vertical-align: middle;
}

.expt-title{
    text-transform: uppercase;
    font-size: 100%;
    font-style: bold;
    font-weight: 800;
    color: #6ab04c;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

.expt-desc{
    font-style: bold;
    font-size: 80%;
    color:#ffffff;
    padding: 2%;
    text-align: center;
}

.footer{
    height: calc(10%);
    margin-top: calc(2%); 
    margin-left: calc(50% - 20px);   
}
.footer a{
    text-decoration: none;
    color: #333;
    align-content: center;    
}

.footer p{
    text-decoration: none;
    font-size: 100%;
    color: #333;
    margin-left: calc(-50px);  
    
}
.fa-github {
    font-size: 200%;
}
.fa-linkedin{
    font-size: 200%;
}
.card-text{
    padding-top: 10%;
    padding-bottom  : 10%;
}
.card-text a{
    text-decoration: none;
    color: #ffffff;
}

.img:hover{
    transition: all .5s ease 0s;
    box-shadow: none;
}

.btn a:hover > span {
    background: #ffffff;
}

@media only screen and (max-width:700px){
    .navbar{
        overflow: visible;
        background: rgb(255, 255, 255);
    }
    .menu{
        width:100%;
        right:0;
        top:80px;
        background: rgb(255, 255, 255);
        overflow: hidden;
        max-height: 0;
    }

    .menu a{
        display: block;
        text-align: center;
        margin-top: 0px;
        padding: 20px;
   }
    .btn span{
        display: block;
        background-color: #333
    }

    .btn{
        display: block;
        text-align: center;
        margin: 0;
        padding: 10px;
        cursor:pointer;
  
    }
    .show{
        
        transition: all .6s;
        max-height: 500px;
      
     }

     .card{

        margin-left: calc(50% - 125px);
        width: 250px;
        height: 350px; 
        overflow: hidden;
       
    }

    .img{
        width: 250px;
        height: 250px; 
    }
    .card-text{
        padding-top: 10%;
        padding-bottom  : 10%;
    }
    
    .name{

        font-size: 75%;
        font-weight: 500;
    }
    .title{
        font-size: 50%;
    }
        
    .footer{
        margin-top: calc(5%);
        margin-bottom: calc(5%);
        margin-left: calc(50% - 20px);   
    }
    .footer a{
        text-decoration: none;
        color: #333;
        align-content: center;    
    }
    
    .footer p{
        text-decoration: none;
        font-size: 65%;
        color: #333;
        margin-left: calc(-30px);        
    }

    .fa-github {
        font-size: 150%;
    }

    .fa-linkedin{
        font-size: 150%;
    }
            
   }
