body{
    margin-top: 0%;
    font-family: 'Courier New', Courier, monospace;;
}
.navbar{
    position: fixed;
    height: 80px;
    width: 100%;
    overflow: none;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: rgb(240, 239, 239);
}
.logo{
    background: url(logo180.png) no-repeat 50% 50%;
    background-size: contain;
    width: 180px;
    height: 80px;
    float: left;
    margin-left: 20px;
}
.menu{
    position: absolute;
    right:5%;
    font-style: bold;
    font-size: 120%;
}
.menu a{
    color: #333;
    text-decoration: none;
    font-weight: 800;
    margin-left: 20px;
    transition: color .03s; 
    text-transform: uppercase;
    color: #575856;
    align-content: center;

}
.menu a:hover{
    color: #6ab04c;
}
.btn{
    display: block;
    position: absolute;
    right: 10%;
}
.btn span{
    display: none;
     margin: 6px;
     width: 40px;
     height: 3px;
     background-color:#333;
}

.intro-card{
    top:80px;
    background-color: #575856;
    background-size: cover;
    overflow: hidden;
    margin-top: 80px;
 }
 

.card{
    
    filter: initial; 
    margin-top: 10%;
    margin-left: calc(50% - 250px);
    margin-bottom: 10%;
    width: 500px;
    height: 500px; 
    background-color:#333;
    /* opacity: 0.7; */
    border-radius: 5px;
    box-shadow: 0 0 10px #333 outset;
}


.card-text{
    padding: 10px;
    text-align: center;
    color:#ffffff;
    
}
.name{
    text-transform: uppercase;
    font-size: 125%;
    font-style: bold;
    font-weight: 800;
}

.title{
    text-transform: uppercase;
    font-style: bold;
    font-size: 100%;
}

.expt-cards{
    top:80px;
    background-color: #575856;
    background-size: cover;
    overflow: hidden;
    margin-top: 80px;
    padding: 5%;
 }

.expt-card{
    width: 500px;
    height: 300px; 
    background-color:#333;
    border-radius: 5px;

}

.expt-title{
    text-transform: uppercase;
    font-size: 125%;
    font-style: bold;
    font-weight: 800;
    color: #6ab04c;
    text-align: center;
    padding: 5%;
}

.expt-desc{
    font-style: bold;
    font-size: 100%;
    color:#ffffff;
    padding: 5%;
}

.card-space{
    padding: 5%;
    margin: 5%;
}



.footer{
    height: 20%;
    margin-top: calc(5%); 
    margin-left: calc(50% - 20px);   
}
.footer a{
    text-decoration: none;
    color: #333;
    align-content: center;    
}

.footer p{
    text-decoration: none;
    font-size: 100%;
    color: #333;
    margin-left: calc(-50px);  
    
}
.fa-github {
    font-size: 200%;
}
.fa-linkedin{
    font-size: 200%;
}
.card-text{
    padding-top: 10%;
    padding-bottom  : 10%;
}
.card-text a{
    text-decoration: none;
    color: #ffffff;
}
.img{
/*    border-radius: 50%;*/
    width: 100%;
    height: 60%;    
    background-size: contain;
    box-shadow: inset 0 0 5em rgb(44, 44, 44);
}

.img:hover{
    transition: all .5s ease 0s;
    box-shadow: none;
}

.btn a:hover > span {
    background: #ffffff;
}

@media only screen and (max-width:700px){
    .navbar{
        overflow: visible;
        background: rgb(255, 255, 255);
    }
    .menu{
        width:100%;
        right:0;
        top:80px;
        background: rgb(255, 255, 255);
        overflow: hidden;
        max-height: 0;
    }

    .menu a{
        display: block;
        text-align: center;
        margin-top: 0px;
        padding: 20px;
   }
    .btn span{
        display: block;
        background-color: #333
    }

    .btn{
        display: block;
        text-align: center;
        margin: 0;
        padding: 10px;
        cursor:pointer;
  
    }
    .show{
        
        transition: all .6s;
        max-height: 500px;
      
     }

     .card{
        margin-top: 80px;
        margin-left: calc(50% - 125px);
        margin-bottom: 80px;

        width: 250px;
        height: 250px;
        overflow: hidden;
       
    }
    .card-text{
        padding-top: 10%;
        padding-bottom  : 10%;
    }
    
    .name{

        font-size: 75%;
        font-weight: 500;
    }
    .title{
        font-size: 50%;
    }
        
    .footer{
        margin-top: calc(5%);
        margin-bottom: calc(5%);
        margin-left: calc(50% - 20px);   
    }
    .footer a{
        text-decoration: none;
        color: #333;
        align-content: center;    
    }
    
    .footer p{
        text-decoration: none;
        font-size: 65%;
        color: #333;
        margin-left: calc(-30px);        
    }

    .fa-github {
        font-size: 150%;
    }

    .fa-linkedin{
        font-size: 150%;
    }
            
   }
